extends layout

block content
	if tripImage
		img(src="#{tripImage}", alt="")
	h1=locationName
	p=locationDescrip
	if nextPort 
		a(href="/place/#{nextPort}") #{nextPort} 
	else 
		a(href="/place/Seville") Go to Beginning